@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

:root {
    /* Primary */

    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to
        hsl(280, 87%, 65%);

    /* Light Theme */

    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayis-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* Dark Theme */

    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-graiysh-blue: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
}

body {
    background-image: url("../storage/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-color: var(--very-dark-blue);
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: 1s ease-in;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 480px;
    width: 100%;
    position: absolute;
}

.container .section-top {
    display: flex;
    justify-content: space-between;
}

.container .section-top h1 {
    color: var(--very-light-gray);
    letter-spacing: 20px;
}

.container .section-top .set-theme {
    margin: auto 0;
    cursor: pointer;
}

.container .add-to-do {
    background-color: var(--very-dark-desaturated-blue);
    border-radius: 4px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .add-to-do .circle,
.circle-task {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--very-dark-grayish-blue);
}

.circle-task {
    margin-right: 15px;
}

.circle-task:hover {
    cursor: pointer;
}

.container .add-to-do input {
    outline: none;
    background: transparent;
    border: none;
    color: var(--light-graiysh-blue);
    width: 80%;
}

.container .add-to-do input::placeholder {
    color: var(--dark-grayish-blue);
    font-weight: 700;
}

.add-task {
    outline: none;
    border: none;
    transition: 1s ease-in-out;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--very-dark-grayish-blue);
    background-color: var(--very-light-gray);
}

.list {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.list li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 12px 16px;
    color: var(--light-grayish-blue);
    background-color: var(--very-dark-desaturated-blue);
    border-bottom: 0.1px solid var(--very-dark-grayish-blue);
}

.list li:first-child {
    border-radius: 5px 5px 0 0;
}
